/* System import */
/*  RESPONSIVE SETTINGS */
/*  TYPOGRAPHY SETTINGS  */
/*  COLUMN SETTINGS  */
/*  TRANSITION SETTINGS  */
.hide {
  display: none !important;
}

.show {
  display: inherit !important;
}

.clear {
  clear: both;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.tleft {
  text-align: left !important;
}

.tright {
  text-align: right !important;
}

.tcenter {
  text-align: center !important;
}

.bounderleft {
  width: 50%;
}

.bounderright {
  margin-left: 50%;
  width: 50%;
}

.boundercenter {
  margin-left: 25%;
  width: 50%;
}

.hip {
  margin-bottom: 10px !important;
}

.hop {
  margin-bottom: 20px !important;
}

.jump {
  margin-bottom: 40px !important;
}

.tip {
  margin-top: 10px !important;
}

.top {
  margin-top: 20px !important;
}

.tump {
  margin-top: 40px !important;
}

/* roze/paars */
/* paars */
/* oranje */
/* paars */
/* paars */
body {
  font-family: "Montserrat", "Helvetica Neue", "arial", "sans-serif";
  font-weight: 400;
  font-size: 10px;
  line-height: 2.8em;
  color: #333333;
}

p, a {
  font-size: 1.6em;
}
p a, a a {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 4em;
  line-height: 1.25em;
}

/* columns import */
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper:after, .wrapper:before {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}

.row {
  display: block;
  margin-left: -20px;
}
.row > [class^="col"] {
  display: block;
  position: relative;
  padding-left: 20px;
}
.row > [class^="col"] .row {
  margin-top: 20px;
}
.row > [class^="col"] .row:first-child {
  margin-top: 0;
}

.row > [class^="col"] {
  margin: 0;
}
.row > [class^="col"] .row {
  margin-top: 0;
}
.row > .col6 {
  width: 50%;
  float: left;
}
.row > .left6 {
  margin-left: 50%;
}
.row > .left5 {
  margin-left: 41.66666666666667%;
}
.row > .left4 {
  margin-left: 33.33333333333333%;
}
.row > .left3 {
  margin-left: 25%;
}
.row > .left2 {
  margin-left: 16.666666666666664%;
}
.row > .left1 {
  margin-left: 8.333333333333332%;
}
.row > .right6 {
  margin-right: 50%;
}
.row > .right5 {
  margin-right: 41.66666666666667%;
}
.row > .right4 {
  margin-right: 33.33333333333333%;
}
.row > .right3 {
  margin-right: 25%;
}
.row > .right2 {
  margin-right: 16.666666666666664%;
}
.row > .right1 {
  margin-right: 8.333333333333332%;
}

.row > [class^="col"] {
  margin: 0;
}
.row > [class^="col"] .row {
  margin-top: 0;
}
.row > .col8 {
  width: 66.66666666666666%;
  float: left;
}
.row > .col4 {
  width: 33.33333333333333%;
  float: left;
}
.row > .col3 {
  width: 25%;
  float: left;
}
.row > .left12 {
  margin-left: 0;
}
.row > .left11 {
  margin-left: 0;
}
.row > .left10 {
  margin-left: 0;
}
.row > .left9 {
  margin-left: 75%;
}
.row > .left8 {
  margin-left: 66.66666666666666%;
}
.row > .left7 {
  margin-left: 58.333333333333336%;
}
.row > .right12 {
  margin-right: 0;
}
.row > .right11 {
  margin-right: 0;
}
.row > .right10 {
  margin-right: 0;
}
.row > .right9 {
  margin-right: 75%;
}
.row > .right8 {
  margin-right: 66.66666666666666%;
}
.row > .right7 {
  margin-right: 58.333333333333336%;
}

.row > [class^="col"] {
  float: left;
}
.row > .col12 {
  width: 100%;
}
.row > .col11 {
  width: 91.66666666666666%;
}
.row > .col10 {
  width: 83.33333333333334%;
}
.row > .col9 {
  width: 75%;
}
.row > .col8 {
  width: 66.66666666666666%;
}
.row > .col7 {
  width: 58.333333333333336%;
}
.row > .col6 {
  width: 50%;
}
.row > .col5 {
  width: 41.66666666666667%;
}
.row > .col4 {
  width: 33.33333333333333%;
}
.row > .col3 {
  width: 25%;
}
.row > .col2 {
  width: 16.666666666666664%;
}
.row > .col1 {
  width: 8.333333333333332%;
}
.row > .left12 {
  margin-left: 100%;
}
.row > .left11 {
  margin-left: 91.66666666666666%;
}
.row > .left10 {
  margin-left: 83.33333333333334%;
}
.row > .right12 {
  margin-right: 100%;
}
.row > .right11 {
  margin-right: 91.66666666666666%;
}
.row > .right10 {
  margin-right: 83.33333333333334%;
}

.row {
  margin-left: -40px;
}
.row > [class^="col"] {
  padding-left: 40px;
}

/* columns import */
.wrapper:after, .wrapper:before {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}

.wrapper--free {
  padding: 0;
}

.box {
  overflow: hidden;
}

.box--free {
  padding: 0;
}

.menu {
  text-align: left;
  padding: 20px 0;
}
.menu li {
  display: inline-block;
  margin-right: 1em;
}
.menu li a {
  display: inline-block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: #333333;
}
.menu li a:hover {
  color: #c9305e;
}
.menu li.active > a {
  color: #c9305e;
}

.button {
  color: white;
  background-color: #c9305e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.button--dark {
  color: white;
  background-color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button--border {
  color: #c9305e;
  border: 2px solid #c9305e;
  background-color: transparent;
}
.button--border:hover {
  border: 2px solid transparent;
}

.spaces {
  margin-left: -20px;
  margin-bottom: -20px;
}
.spaces * > li,
.spaces > div,
.spaces > a,
.spaces > img,
.spaces > article {
  display: block;
  padding-left: 20px;
  margin-bottom: 20px;
}
.spaces * > li > *,
.spaces > div > *,
.spaces > a > *,
.spaces > img > *,
.spaces > article > * {
  max-width: 100%;
}
.spaces > ol,
.spaces > ul {
  width: 100%;
  padding-left: 0;
}
.spaces > ol:after, .spaces > ol:before,
.spaces > ul:after,
.spaces > ul:before {
  content: " ";
  display: table;
}
.spaces > ol:after,
.spaces > ul:after {
  clear: both;
}
.spaces:after, .spaces:before {
  content: " ";
  display: table;
}
.spaces:after {
  clear: both;
}

.spaces--gallery img {
  width: 100%;
}
.spaces--gallery iframe {
  width: 100%;
  height: auto;
}

/*@import "_custom.scss";*/
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper:after, .wrapper:before {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}

.row {
  display: block;
  margin-left: -20px;
}
.row > [class^="col"] {
  display: block;
  position: relative;
  padding-left: 20px;
}
.row > [class^="col"] .row {
  margin-top: 20px;
}
.row > [class^="col"] .row:first-child {
  margin-top: 0;
}

/*
$smartphone-min-width:	320px;
$smartphone-max-width:	539px;
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: auto;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 30px;
}

.wrapper--padding {
  padding: 30px;
}

/* LIGHT BG / BLACK TEXT */
#impressies,
#referenties {
  color: black;
}
#impressies .bline::after,
#referenties .bline::after {
  background-color: black;
}

/* IMAGED BG / WHITE TEXT */
#intro,
#depianoartiest,
#biografie,
#boekingen {
  color: white;
  background-repeat: no-repeat;
}
#intro a,
#depianoartiest a,
#biografie a,
#boekingen a {
  color: white;
}

#boekingen .box-body {
  max-width: 600px;
  margin: 0 auto;
}

#mainmenu {
  overflow: auto;
  font-size: 10px;
}

.stickyribbon {
  background-color: white;
  z-index: 10;
}

#intro {
  background-image: url("../img/content/header-img.jpg");
  background-size: cover;
  background-position: 50% 0;
}

#depianoartiest {
  background-image: url("../img/content/section-info.jpg");
  background-color: #661536;
  background-position: right;
}

#biografie {
  background-image: url("../img/content/section-biografie.jpg");
  background-color: #dd6800;
  background-position: left;
}

#boekingen {
  background-image: url("../img/content/section-boekingen.jpg");
  background-color: #be1b3a;
  background-position: right;
}

#depianoartiest,
#biografie,
#impressies,
#referenties,
#boekingen {
  padding: 40px 50px;
}

#depianoartiest,
#biografie,
#boekingen {
  background-attachment: scroll;
}

#depianoartiest {
  background-size: 100%;
  background-position: -9999px top;
}

#biografie {
  background-size: 100%;
  background-position: -9999px top;
}

#boekingen {
  background-size: 50%;
  background-position: -9999px top;
}

#logo--small {
  display: block;
  background-position: center;
  background-image: url("../img/layout/logo-small.png");
  background-repeat: no-repeat;
  margin-right: 1em;
  padding: 0.8em 0;
  height: 54px;
  width: 47px;
}

.button--boeking {
  margin-bottom: 30px;
}

h1 {
  position: relative;
}
h1.bline {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
h1.bline::after {
  position: absolute;
  bottom: 0;
  content: ' ';
  display: block;
  height: 2px;
  width: 40px;
  margin-top: 20px;
  background-color: white;
}
h1.bline--right::after {
  right: 0;
}
h1.bline--center::after {
  left: 50%;
  margin-left: -20px;
}

.spaces--gallery {
  max-width: 1140px;
  margin: 0 auto;
}

.space.video {
  position: relative;
  opacity: 0.6;
  cursor: pointer;
}
.space.video::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -10px;
  width: 0;
  height: 0;
  content: ' ';
  display: block;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid white;
}
.space.video:hover {
  opacity: 1;
}
.space.video:hover::before {
  border-left: 40px solid rgba(255, 255, 255, 0.8);
}

#referenties .spaces--gallery .space {
  margin: 25px 0;
}
#referenties .spaces--gallery img {
  width: auto;
}

@media only screen and (max-width: 539px) {
  /*   S M A R T P H O N E   H E L P E R S   */
  .hide--smartphone {
    display: none !important;
  }

  .show--smartphone {
    display: inherit !important;
  }

  .wide--smartphone {
    min-width: 0 !important;
    width: 100% !important;
    display: block !important;
  }

  .menu {
    text-align: left;
    padding: 20px 0;
  }
  .menu a.button {
    display: block;
    float: none !important;
  }
  .menu li {
    display: block;
    margin-right: 1em;
  }
  .menu li a {
    display: block;
    padding: 0.8em 1em;
    text-align: center;
    text-decoration: none;
    color: #333333;
  }
  .menu li a:hover {
    color: #c9305e;
  }
  .menu li.active > a {
    color: #c9305e;
  }

  .spaces * > li,
  .spaces > div,
  .spaces > a,
  .spaces > img,
  .spaces > article {
    margin-left: 0;
    float: left;
    width: 100%;
  }
  .spaces * > li:nth-child(2n+1),
  .spaces > div:nth-child(2n+1),
  .spaces > a:nth-child(2n+1),
  .spaces > img:nth-child(2n+1),
  .spaces > article:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 540px) {
  .row > [class^="col"] {
    margin: 0;
  }
  .row > [class^="col"] .row {
    margin-top: 0;
  }
  .row > .col6 {
    width: 50%;
    float: left;
  }
  .row > .left6 {
    margin-left: 50%;
  }
  .row > .left5 {
    margin-left: 41.66666666666667%;
  }
  .row > .left4 {
    margin-left: 33.33333333333333%;
  }
  .row > .left3 {
    margin-left: 25%;
  }
  .row > .left2 {
    margin-left: 16.666666666666664%;
  }
  .row > .left1 {
    margin-left: 8.333333333333332%;
  }
  .row > .right6 {
    margin-right: 50%;
  }
  .row > .right5 {
    margin-right: 41.66666666666667%;
  }
  .row > .right4 {
    margin-right: 33.33333333333333%;
  }
  .row > .right3 {
    margin-right: 25%;
  }
  .row > .right2 {
    margin-right: 16.666666666666664%;
  }
  .row > .right1 {
    margin-right: 8.333333333333332%;
  }

  /*
  $phablet-min-width:		540px;
  $phablet-max-width:		767px;
  */
  .wrapper {
    padding: 0 50px;
  }

  .wrapper--padding {
    padding: 50px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 767px) {
  /*   P H A B L E T   H E L P E R S   */
  .hide--phablet {
    display: none !important;
  }

  .show--phablet {
    display: inherit !important;
  }

  .wide--phablet {
    min-width: inherit !important;
    width: 100% !important;
    display: block !important;
  }

  .spaces * > li,
  .spaces > div,
  .spaces > a,
  .spaces > img,
  .spaces > article {
    float: left;
    width: 50%;
  }
  .spaces * > li:nth-child(2n+1),
  .spaces > div:nth-child(2n+1),
  .spaces > a:nth-child(2n+1),
  .spaces > img:nth-child(2n+1),
  .spaces > article:nth-child(2n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  .row > [class^="col"] {
    margin: 0;
  }
  .row > [class^="col"] .row {
    margin-top: 0;
  }
  .row > .col8 {
    width: 66.66666666666666%;
    float: left;
  }
  .row > .col4 {
    width: 33.33333333333333%;
    float: left;
  }
  .row > .col3 {
    width: 25%;
    float: left;
  }
  .row > .left12 {
    margin-left: 0;
  }
  .row > .left11 {
    margin-left: 0;
  }
  .row > .left10 {
    margin-left: 0;
  }
  .row > .left9 {
    margin-left: 75%;
  }
  .row > .left8 {
    margin-left: 66.66666666666666%;
  }
  .row > .left7 {
    margin-left: 58.333333333333336%;
  }
  .row > .right12 {
    margin-right: 0;
  }
  .row > .right11 {
    margin-right: 0;
  }
  .row > .right10 {
    margin-right: 0;
  }
  .row > .right9 {
    margin-right: 75%;
  }
  .row > .right8 {
    margin-right: 66.66666666666666%;
  }
  .row > .right7 {
    margin-right: 58.333333333333336%;
  }

  /*
  $tablet-min-width: 		768px;
  $tablet-max-width:		979px;
  */
  body {
    padding: 30px;
  }

  #depianoartiest,
  #biografie,
  #impressies,
  #referenties,
  #boekingen {
    padding: 80px 50px;
  }

  #depianoartiest,
  #biografie,
  #boekingen {
    background-attachment: fixed;
  }

  #depianoartiest {
    background-size: 100%;
    background-position: 300px top;
  }

  #biografie {
    background-size: 100%;
    background-position: -230px top;
  }

  #boekingen {
    background-size: 50%;
    background-position: -2000px bottom;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /*   T A B L E T   H E L P E R S   */
  .hide--tablet {
    display: none !important;
  }

  .show--tablet {
    display: inherit !important;
  }

  .wide--tablet {
    min-width: inherit !important;
    width: 100% !important;
    display: block !important;
  }

  .spaces--gallery * > li,
  .spaces--gallery > div,
  .spaces--gallery > a,
  .spaces--gallery > img,
  .spaces--gallery > article {
    float: left;
    width: 33.33333333333333%;
  }
  .spaces--gallery * > li:nth-child(2n+1),
  .spaces--gallery > div:nth-child(2n+1),
  .spaces--gallery > a:nth-child(2n+1),
  .spaces--gallery > img:nth-child(2n+1),
  .spaces--gallery > article:nth-child(2n+1) {
    clear: none;
  }
  .spaces--gallery * > li:nth-child(3n+1),
  .spaces--gallery > div:nth-child(3n+1),
  .spaces--gallery > a:nth-child(3n+1),
  .spaces--gallery > img:nth-child(3n+1),
  .spaces--gallery > article:nth-child(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 980px) {
  .row > [class^="col"] {
    float: left;
  }
  .row > .col12 {
    width: 100%;
  }
  .row > .col11 {
    width: 91.66666666666666%;
  }
  .row > .col10 {
    width: 83.33333333333334%;
  }
  .row > .col9 {
    width: 75%;
  }
  .row > .col8 {
    width: 66.66666666666666%;
  }
  .row > .col7 {
    width: 58.333333333333336%;
  }
  .row > .col6 {
    width: 50%;
  }
  .row > .col5 {
    width: 41.66666666666667%;
  }
  .row > .col4 {
    width: 33.33333333333333%;
  }
  .row > .col3 {
    width: 25%;
  }
  .row > .col2 {
    width: 16.666666666666664%;
  }
  .row > .col1 {
    width: 8.333333333333332%;
  }
  .row > .left12 {
    margin-left: 100%;
  }
  .row > .left11 {
    margin-left: 91.66666666666666%;
  }
  .row > .left10 {
    margin-left: 83.33333333333334%;
  }
  .row > .right12 {
    margin-right: 100%;
  }
  .row > .right11 {
    margin-right: 91.66666666666666%;
  }
  .row > .right10 {
    margin-right: 83.33333333333334%;
  }

  /*
  $desktop-min-width:		980px;
  $desktop-max-width:		1239px;
  */
  #depianoartiest,
  #biografie,
  #impressies,
  #referenties,
  #boekingen {
    padding: 120px 50px;
  }

  #depianoartiest,
  #biografie,
  #boekingen {
    background-attachment: fixed;
  }

  #depianoartiest {
    background-size: 100%;
    background-position: 500px;
  }

  #biografie {
    background-size: 100%;
    background-position: -300px top;
  }

  #boekingen {
    background-size: 60%;
    background-position: 550px bottom;
  }

  .spaces--gallery * > li,
  .spaces--gallery > div,
  .spaces--gallery > a,
  .spaces--gallery > img,
  .spaces--gallery > article {
    float: left;
    width: 33.3333%;
  }
  .spaces--gallery * > li:nth-child(2n+1),
  .spaces--gallery > div:nth-child(2n+1),
  .spaces--gallery > a:nth-child(2n+1),
  .spaces--gallery > img:nth-child(2n+1),
  .spaces--gallery > article:nth-child(2n+1) {
    clear: none;
  }
  .spaces--gallery * > li:nth-child(3n+1),
  .spaces--gallery > div:nth-child(3n+1),
  .spaces--gallery > a:nth-child(3n+1),
  .spaces--gallery > img:nth-child(3n+1),
  .spaces--gallery > article:nth-child(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1239px) {
  /*   D E S K T O P   H E L P E R S   */
  .hide--desktop {
    display: none !important;
  }

  .show--desktop {
    display: inherit !important;
  }

  .wide--desktop {
    min-width: inherit !important;
    width: 100% !important;
    display: block !important;
  }
}
@media only screen and (min-width: 1200px) {
  .row {
    margin-left: -40px;
  }
  .row > [class^="col"] {
    padding-left: 40px;
  }

  /*
  $widescreen-min-width:	1200px;
  $widescreen-max-width:	1920px;
  */
  #intro {
    min-height: 700px;
  }

  #depianoartiest,
  #biografie,
  #impressies,
  #referenties,
  #boekingen {
    padding: 120px 50px;
  }

  #depianoartiest,
  #biografie,
  #boekingen {
    background-attachment: fixed;
  }

  #depianoartiest {
    background-size: 90%;
    background-position: 600px;
  }

  #biografie {
    background-size: 90%;
    background-position: -200px top;
  }

  #boekingen {
    background-size: 30%;
    background-position: right bottom;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1920px) {
  /*   W I D E S C R E E N   H E L P E R S   */
  .hide--widescreen {
    display: none !important;
  }

  .show--widescreen {
    display: inherit !important;
  }

  .wide--widescreen {
    min-width: inherit !important;
    width: 100% !important;
    display: block !important;
  }

  .spaces--gallery * > li,
  .spaces--gallery > div,
  .spaces--gallery > a,
  .spaces--gallery > img,
  .spaces--gallery > article {
    float: left;
    width: 33.3333%;
  }
  .spaces--gallery * > li:nth-child(2n+1),
  .spaces--gallery > div:nth-child(2n+1),
  .spaces--gallery > a:nth-child(2n+1),
  .spaces--gallery > img:nth-child(2n+1),
  .spaces--gallery > article:nth-child(2n+1) {
    clear: none;
  }
  .spaces--gallery * > li:nth-child(3n+1),
  .spaces--gallery > div:nth-child(3n+1),
  .spaces--gallery > a:nth-child(3n+1),
  .spaces--gallery > img:nth-child(3n+1),
  .spaces--gallery > article:nth-child(3n+1) {
    clear: both;
  }
}
