/*
$smartphone-min-width:	320px;
$smartphone-max-width:	539px;
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
body, html {
	padding: 0;
	margin: 0;
}
body {
	padding: 30px;
}

a.button1 {
	display: inline-block;
	padding: 9px 18px;
	border: 2px solid $primary-color;
	color: $primary-color;
	text-decoration: none;
	@include border-radius(4px);
	&.filled {
		background-color: $primary-color;
		color: #fff;
	}
}
div.section {
	padding: 150px 100px;
	min-height: 300px;
	.sectionbody {
		min-width: 1140px;
		margin: 0 auto;
	}
}
span.title-seperator {
	display: inline-block;
	width: 40px;
	margin-bottom: $base-whitespace;
	&.light { border-bottom: 2px solid #fff; };
	&.dark { border-bottom: 2px solid #333; };
}


#logo {
	position: relative;
	box-sizing: content-box;
	display: inline-block;
	width: auto;
	height: auto;
	margin-bottom: 150px;
}

#header {
	position: relative;
	color: $alt-color;
	background: url('../img/content/header-img.jpg') 50% 0 repeat fixed $header-color;
	background-size: 100% auto;
	min-height: 400px;
	padding: 100px 100px 150px;
	h1 {
		margin-top: 20px;
	}
}
#mainMenuWrapper {
	position: relative;
	height: 100px;
	width: 100%;
	padding: 0 100px;
	left: 0;
	top: 0;
	vertical-align: middle;
	background-color: #fff;
	#mainMenu {
		max-width: 1140px;
		margin: 0 auto;
		.button {
			color: $primary-color;
		}
		* { display: inline-block; }
		#logo-small {
			float: left;
			left: 0;
			margin: 35px 60px 35px 0;
			transition: all .2s ease-in-out;
			    -webkit-transition: all .4s ease-in-out;
			    -moz-transition: all .4s ease-in-out;
			    -o-transition: all .4s ease-in-out;
			&.hide {
				opacity: 0;
				width: 0;
				margin: 35px 0;
			}
		}
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			padding-right: 60px;
		}
		ul li a {
			color: $base-color;
			line-height: 100px;
			vertical-align: middle;
		}
		a {
			text-decoration: none;
			font-size: 1.8em;
		}
		.button {
			float: right;
			vertical-align: middle;
			margin: 25px 0;
		}
	}
}
#section-info {
	background: url('../img/content/section-info.jpg') right 0 no-repeat fixed $section-info-color;
	background-size: auto 100%;
	h1 {
		color: $alt-color;
	}
	p {
		color: $alt-color;
	}
}
#section-impressies {
	overflow: auto;
	h1 {
		color: $base-color;
	}
	p {
		color: $base-color;
	}
}
#mediaHolder {
	margin: 20px auto 0;
	width: 1136px;
}
a#mediaObject {
	display: inline-block;
	width: 550px;
	height: 310px;
	margin-right: 36px;
	margin-bottom: 36px;
	border: none;
	overflow: hidden;
	float: left;
	&:nth-child(even) {
		margin-right: 0;
	}
	&:hover {
		box-sizing: border-box;
		cursor:-webkit-zoom-in;
		cursor:-moz-zoom-in;
	}
	img {
		bottom: 0;
		width: 550px;
	}
}

#section-referenties {

}
#refHolder {
	margin-top: 20px;
	width: 1110px;
	margin: 0 auto;
	a {
		display: inline-block;
		width: 200px;
		height: 100px;
		background-color: blue;
		margin: 40px 100px 40px 0;
		padding: 0;
		&:nth-child(4n+4) {
			margin: 40px 0;
		}
	}
}

#section-biografie {
	background: url('../img/content/section-biografie.jpg') left 0 no-repeat fixed $section-biografie-color;
	background-size: auto 100%;
	h1 {
		color: $alt-color;
	}
	p {
		color: $alt-color;
	}
}
#section-boekingen {
	background: url('../img/content/section-boekingen.jpg') right 0 no-repeat fixed $section-boekingen-color;
	background-size: auto 100%;
	height: 90% !important;
	h1 {
		color: $alt-color;
	}
	p {
		color: $alt-color;
	}
	a {
		color: $alt-color;
		font-size: 1em;
	}
}
#boekingform {
	height: 130px;
	width: 1120px;
	background-color: #9a0030;
	margin: 0 auto;
}