/* System import */
@import "system/_settings.scss";
@import "system/_helpers.scss";
@import "system/_mixins.scss";
@import "system/_colors.scss";
@import "system/_typography.scss";
@import "system/_columns.scss";

/* columns import */
@import "columns/_columns--smartphone.scss";
@import "columns/_columns--phablet.scss";
@import "columns/_columns--tablet.scss";
@import "columns/_columns--desktop.scss";
@import "columns/_columns--widescreen.scss";

/* columns import */
@import "components/_wrapper.scss";
@import "components/_box.scss";
@import "components/_menu.scss";
@import "components/_button.scss";
@import "components/_spaces.scss";

/*@import "_custom.scss";*/

@import "columns/_columns--smartphone.scss";
@import "responsive/_smartphone.scss";

//SMARTPHONE SPECIFIC
@media only screen and (max-width: $smartphone-max-width) {
	@import "specific/_specific--smartphone.scss";
	@import "components/_menu--smartphone.scss";
	@import "components/_spaces--smartphone.scss";
}

//PHABLET
@media only screen and (min-width: $phablet-min-width) {
	@import "columns/_columns--phablet.scss";
	@import "responsive/_phablet.scss";
}
//PHABLET SPECIFIC
@media only screen and (min-width: $phablet-min-width) and (max-width: $phablet-max-width) {
	@import "specific/_specific--phablet.scss";
	@import "components/_spaces--phablet.scss";
}



//TABLET
@media only screen and (min-width: $tablet-min-width) {
	@import "columns/_columns--tablet.scss";
	@import "responsive/_tablet.scss";
}
//TABLET SPECIFIC
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
	@import "specific/_specific--tablet.scss";
	@import "components/_spaces--tablet.scss";
}



//DESKTOP
@media only screen and (min-width: $desktop-min-width) {
	@import "columns/_columns--desktop.scss";
	@import "responsive/_desktop.scss";
	@import "components/_spaces--desktop.scss";
}
//DESKTOP SPECIFIC
@media only screen and (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
	@import "specific/_specific--desktop.scss";
}



//WIDESCREEN
@media only screen and (min-width: $widescreen-min-width) {
	@import "columns/_columns--widescreen.scss";
	@import "responsive/_widescreen.scss";
}
//WIDESCREEN SPECIFIC
@media only screen and (min-width: $widescreen-min-width) and (max-width: $widescreen-max-width) {
	@import "specific/_specific--widescreen.scss";
	@import "components/_spaces--widescreen.scss";
}

//HIGHROLLER SPECIFIC
@media only screen and (min-width: $highroller-min-width) {
	@import "specific/specific--highroller.scss";
}