$header-color:						rgb(102,21,54); /* roze/paars */
$section-info-color: 				rgb(102,21,54); /* paars */
$section-biografie-color:			rgb(221,104,0); /* oranje */
$section-impressie-color:			rgb(188,0,85);
$section-boekingen-color:			rgb(190,27,58); /* paars */

$white:							#ffffff;
$black:							#000000;

$primary-color:	 				#c9305e; /* paars */
$primary-color-hover:			#dc7500;
$support-color:					#000;
$support-color-hover:			#111;

$primary-color-alt:				#487cc3;
$primary-color-alt-hover:		#3d69a5;
$support-color-alt:				#9a1f1f;
$support-color-alt-hover:		#7e1919;