@mixin columns() {
	> .col12 { width: 100%;}
	> .col11 { width: 91.66666666666666%;}
	> .col10 { width: 83.33333333333334%;}
	> .col9  { width: 75%; }
	> .col8  { width: 66.66666666666666%; }
	> .col7  { width: 58.333333333333336%; }
	> .col6  { width: 50%; }
	> .col5  { width: 41.66666666666667%; }
	> .col4  { width: 33.33333333333333%; }
	> .col3  { width: 25%; }
	> .col2  { width: 16.666666666666664%; }
	> .col1  { width: 8.333333333333332%; }

	> .left12 { margin-left: 100%;}
	> .left11 { margin-left: 91.66666666666666%;}
	> .left10 { margin-left: 83.33333333333334%;}

	> .right12 { margin-right: 100%;}
	> .right11 { margin-right: 91.66666666666666%;}
	> .right10 { margin-right: 83.33333333333334%;}
}