.hide {
	display: none !important;
}
.show {
	display: inherit !important;
}
.clear {
	clear: both;
}
.left {
	float: left !important;
}

.right {
	float: right !important;
}

.tleft {
	text-align: left !important;
}

.tright {
	text-align: right !important;
}

.tcenter {
	text-align: center !important;
}

.bounderleft {
	width: 50%;
}
.bounderright {
	margin-left: 50%;
	width: 50%;
}
.boundercenter {
	margin-left: 25%;
	width: 50%;
}

.hip			{margin-bottom: $column-gutter !important;}
.hop			{margin-bottom: $column-gutter*2 !important;}
.jump			{margin-bottom: $column-gutter*4 !important;}

.tip			{margin-top: $column-gutter !important;}
.top			{margin-top: $column-gutter*2 !important;}
.tump			{margin-top: $column-gutter*4 !important;}