/*  RESPONSIVE SETTINGS */
$smartphone-min-width:	320px;
$smartphone-max-width:	539px;

$phablet-min-width:		540px;
$phablet-max-width:		767px;

$tablet-min-width: 		768px;
$tablet-max-width:		979px;

$desktop-min-width:		980px;
$desktop-max-width:		1239px;

$widescreen-min-width:	1200px;
$widescreen-max-width:	1920px;

$highroller-min-width:	1441px;
$highroller-max-width:	1920px;

/*  TYPOGRAPHY SETTINGS  */
$default-font-family: 'Montserrat', 'Helvetica Neue', 'arial', 'sans-serif';
$default-font-size: 10px;
$default-font-weight: 400;

$base-font-size: 1.6em;
$base-whitespace: 1em;
$base-line-height: 2.8em;

$base-color: #333333;
$alt-color: #FFFFFF;
$link-color: #EE7F00;

$h1-font-size: 4.0em;
$h1-line-height: 1.25em;

$small-font-size: 1.2em;

/*  COLUMN SETTINGS  */
$column-gutter:		10px;

/*  TRANSITION SETTINGS  */
$transition-slow:		1s;
$transition-normal:		0.5s;
$transition-fast:		0.3s;