body {
	font-family: $default-font-family;
	font-weight: $default-font-weight;
	font-size: $default-font-size;
	line-height: $base-line-height;
	color: $base-color;
}

p, a {
	font-size: $base-font-size;
	a {
		font-size: 1em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
}