.button {
		color: $white;
		background-color: $primary-color;
		@include border-radius(5px);

	display: inline-block;
	text-align: center;
	font-weight: 400;
	padding: 10px 20px;
	text-decoration: none;
}
.button--dark {
		color: $white;
		background-color: #333;
		@include border-radius(5px);
}
.button--border {
	color: $primary-color;
	border: 2px solid $primary-color;
	background-color: transparent;
	&:hover {
		border: 2px solid transparent;
	}
}