.menu {
	text-align: left;
	padding: 20px 0;
	a.button {
		display: block;
		float: none !important;
	}
	li {
		display: block;
		margin-right: 1em;
		a {
			display: block;
			padding: 0.8em 1em;
			text-align: center;
			text-decoration: none;
			color: $base-color;

			&:hover {
				color: $primary-color;
			}

		}

		&.active {
			> a {
				color: $primary-color;
			}
		}
	}
}