.menu {
	text-align: left;
	padding: 20px 0;

	li {
		display: inline-block;
		margin-right: 1em;
		a {
			display: inline-block;
			padding: 0.8em 1em;
			text-decoration: none;
			color: $base-color;

			&:hover {
				color: $primary-color;
			}
		}

		&.active {
			> a {
				color: $primary-color;
			}
		}
	}
}