.spaces {
	margin-left: -$column-gutter*2;
	margin-bottom: -$column-gutter*2;

	* > li,
	> div,
	> a,
	> img,
	> article {
		display: block;
		padding-left: $column-gutter*2;
		margin-bottom: $column-gutter*2;

		> * {
			max-width: 100%;
		}
	}

	> ol,
	> ul {
		width: 100%;
		padding-left: 0;
		@include clear();
	}
	@include clear();
}

.spaces--gallery {
	img {
		width: 100%;
	}
	iframe {
		width: 100%;
		height: auto;
	}
}