/*
$desktop-min-width:		980px;
$desktop-max-width:		1239px;
*/

#depianoartiest,
#biografie,
#impressies,
#referenties,
#boekingen {
	padding: 120px 50px;
}
#depianoartiest,
#biografie,
#boekingen {
	background-attachment: fixed;
}
#depianoartiest {
	background-size: 100%;
	background-position: 500px;
}
#biografie {
	background-size: 100%;
	background-position: -300px top;
}
#boekingen {
	background-size: 60%;
	background-position: 550px bottom;
}