/*
$smartphone-min-width:	320px;
$smartphone-max-width:	539px;
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
body, html {
	height: auto;
	padding: 0;
	margin: 0;
}
.wrapper {
	padding: 0 30px;
}
.wrapper--padding {
	padding: 30px;
}

/* LIGHT BG / BLACK TEXT */
#impressies,
#referenties {
	color: $black;
	.bline::after {
		background-color: $black;
	}
}

/* IMAGED BG / WHITE TEXT */
#intro,
#depianoartiest,
#biografie,
#boekingen {
	color: $white;
	background-repeat: no-repeat;
	a {
		color: $white;
	}
}
#boekingen .box-body {
	max-width: 600px;
	margin: 0 auto;
}

#mainmenu {
	overflow: auto;
	font-size: 10px;
}
.stickyribbon {
	background-color: $white;
	z-index: 10;
}
#intro {
	background-image: url('../img/content/header-img.jpg');
	background-size: cover;
	background-position: 50% 0;
}

#depianoartiest {	background-image: url('../img/content/section-info.jpg'); background-color: #661536;background-position: right;}
#biografie {		background-image: url('../img/content/section-biografie.jpg'); background-color: #dd6800;background-position: left;}
#boekingen {		background-image: url('../img/content/section-boekingen.jpg'); background-color: #be1b3a;background-position: right;}

#depianoartiest,
#biografie,
#impressies,
#referenties,
#boekingen {
	padding: 40px 50px;
}
#depianoartiest,
#biografie,
#boekingen {
	background-attachment: scroll;
}
#depianoartiest {
	background-size: 100%;
	background-position: -9999px top;
}
#biografie {
	background-size: 100%;
	background-position: -9999px top;
}
#boekingen {
	background-size: 50%;
	background-position: -9999px top;
}

#logo--small {
	display: block;
	background-position: center;
	background-image: url('../img/layout/logo-small.png');
	background-repeat: no-repeat;
	margin-right: 1em;
	padding: 0.8em 0;
	height: 54px;
	width: 47px;
}
.button--boeking {
	margin-bottom: 30px;
}
h1 {
	position: relative;
	&.bline {
		padding-bottom: 30px;
		margin-bottom: 30px;
		&::after {
			position: absolute;
			bottom: 0;
			content: ' ';
			display: block;
			height: 2px;
			width: 40px;
			margin-top: 20px;
			background-color: $white;
		}
	}
	&.bline--right {
		&::after {
			right: 0;
		}
	}
	&.bline--center {
		&::after {
			left: 50%;
			margin-left: -20px;
		}
	}
}
.spaces--gallery {
	max-width: 1140px;
	margin: 0 auto;
}
.space {
	&.video {
		position: relative;
		opacity: 0.6;
		cursor: pointer;
		&::before{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -30px;
			margin-left: -10px;
			width: 0;
			height: 0;
			content: ' ';
			display: block;
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;

			border-left: 40px solid $white;
		}
		&:hover {
			opacity: 1;
			&::before{
				border-left: 40px solid rgba(255,255,255,0.8);
			}
		}
	}
}

#referenties .spaces--gallery {
	.space {
		margin: 25px 0;
	}

	img {
		width: auto;
	}
}