/*
$tablet-min-width: 		768px;
$tablet-max-width:		979px;
*/

body {
	padding: 30px;
}

#depianoartiest,
#biografie,
#impressies,
#referenties,
#boekingen {
	padding: 80px 50px;
}
#depianoartiest,
#biografie,
#boekingen {
	background-attachment: fixed;
}
#depianoartiest {
	background-size: 100%;
	background-position: 300px top;
}
#biografie {
	background-size: 100%;
	background-position: -230px top;
}
#boekingen {
	background-size: 50%;
	background-position: -2000px bottom;
}