/*
$widescreen-min-width:	1200px;
$widescreen-max-width:	1920px;
*/
#intro {
	min-height: 700px
}
#depianoartiest,
#biografie,
#impressies,
#referenties,
#boekingen {
	padding: 120px 50px;
}
#depianoartiest,
#biografie,
#boekingen {
	background-attachment: fixed;
}
#depianoartiest {
	background-size: 90%;
	background-position: 600px;
}
#biografie {
	background-size: 90%;
	background-position: -200px top;
}
#boekingen {
	background-size: 30%;
	background-position: right bottom;
}