/*   P H A B L E T   H E L P E R S   */

.hide--phablet {
	display: none !important;
}
.show--phablet {
	display: inherit !important;
}

.wide--phablet {
	min-width: inherit !important;
	width: 100% !important;
	display: block !important;
}