/*   S M A R T P H O N E   H E L P E R S   */
.hide--smartphone {
	display: none !important;
}
.show--smartphone {
	display: inherit !important;
}

.wide--smartphone {
	min-width: 0 !important;
	width: 100% !important;
	display: block !important;
}