/*   D E S K T O P   H E L P E R S   */

.hide--desktop {
	display: none !important;
}
.show--desktop {
	display: inherit !important;
}

.wide--desktop {
	min-width: inherit !important;
	width: 100% !important;
	display: block !important;
}