/*   W I D E S C R E E N   H E L P E R S   */
.hide--widescreen {
	display: none !important;
}
.show--widescreen {
	display: inherit !important;
}

.wide--widescreen {
	min-width: inherit !important;
	width: 100% !important;
	display: block !important;
}