/*   T A B L E T   H E L P E R S   */
.hide--tablet {
	display: none !important;
}
.show--tablet {
	display: inherit !important;
}

.wide--tablet {
	min-width: inherit !important;
	width: 100% !important;
	display: block !important;
}