.row {
	> [class^="col"] {
		margin: 0;

		.row {
			margin-top: 0;
		}

	}

	> .col6  { width: 50%; float: left; }

	> .left6  { margin-left: 50%; }
	> .left5  { margin-left: 41.66666666666667%; }
	> .left4  { margin-left: 33.33333333333333%; }
	> .left3  { margin-left: 25%; }
	> .left2  { margin-left: 16.666666666666664%; }
	> .left1  { margin-left: 8.333333333333332%; }

	> .right6  { margin-right: 50%; }
	> .right5  { margin-right: 41.66666666666667%; }
	> .right4  { margin-right: 33.33333333333333%; }
	> .right3  { margin-right: 25%; }
	> .right2  { margin-right: 16.666666666666664%; }
	> .right1  { margin-right: 8.333333333333332%; }
}