.row {
	> [class^="col"] {
		margin: 0;

		.row {
			margin-top: 0;
		}

	}

	> .col8  { width: 66.66666666666666%; float: left;}
	> .col4  { width: 33.33333333333333%; float: left; }
	> .col3  { width: 25%; float: left; }

	> .left12 { margin-left: 0;}
	> .left11 { margin-left: 0;}
	> .left10 { margin-left: 0;}
	> .left9  { margin-left: 75%; }
	> .left8  { margin-left: 66.66666666666666%; }
	> .left7  { margin-left: 58.333333333333336%; }

	> .right12 { margin-right: 0;}
	> .right11 { margin-right: 0;}
	> .right10 { margin-right: 0;}
	> .right9  { margin-right: 75%; }
	> .right8  { margin-right: 66.66666666666666%; }
	> .right7  { margin-right: 58.333333333333336%; }
}