.wrapper {
	max-width: $widescreen-max-width;
	margin: 0 auto;
	padding: 0 $column-gutter*2;

	@include clear();
}
.row {
	display: block;
	margin-left: -$column-gutter*2;

	> [class^="col"] {
		display: block;
		position: relative;
		padding-left: $column-gutter*2;

		.row {
			margin-top: $column-gutter*2;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}